<div class="header">
    <div>
        <a routerLink="searchflight"><img src = "../assets/images/logo.jpg" alt="logo" ></a>
    </div>    
    <div class = "main_menu">
          <nav class="navbar navbar-expand-lg navbar-light bg-info">
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="viewticket"> Booking Details </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="admin">Admin Tools</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
