<!--<nav class="navbar navbar-default bg-info">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="flightlisting">Flights</a></li>
        <li><a routerLink="airlineListing">Airline</a></li>
      </ul>
    </div>
  </nav>-->
  <div style="float: right; margin: 20px;">
    <button class="btn btn-primary active" (click)="addFlights()"><i class="icon-white icon-plus"></i> Add</button>
  </div>
<div [ngClass]="className" style="margin: 20px;" >
    <table class="table table-hover">
        <tr>
            <th>S.No</th>
            <th>FlightNumber</th>
            <th>From</th>
            <th>To</th>
            <th>Departure </th>
            <th>Arrival </th>
            <th>Ticket cost</th>
            <th></th>
        </tr>
        <tr *ngFor="let flight of flights;let i=index">
            <td>{{i+1}}</td>
            <td>{{flight.flightNumber}}</td>
            <td>{{flight.fromPlace}}</td>
            <td>{{flight.toPlace}}</td>
            <td>{{flight.startDateTime}}</td>
            <td>{{flight.endDateTime}}</td>
            <td>{{flight.ticketCost}}</td>
          </tr>
    </table>
    </div>